<nav>
  <a href="/" class="nav-link <%= page === 'home' ? 'active' : '' %>">Home</a>
  <a href="/about" class="nav-link <%= page === 'about' ? 'active' : '' %> ">About</a>
  <a href="/contact" class="nav-link <%= page === 'contact' ? 'active' : '' %> ">Contact us</a>
</nav>
